@model lab3_.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>


    </dl>
</div>

<div>
    <p>Patients who have visited this doctor:</p>
    <ul>
        @foreach(var patient in Model.Patients)
            {
                <li>
                    <a href="/Patients/Details/@patient.ID">@patient.Name</a>
                </li>
            }
    </ul>
</div>

<div>
    @Html.ActionLink("Insert new Patient", "InsertNewPatient", new {id = Model.ID})
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
